<silentsettings>
	<features>
		<feature id="{33A732EE-52F2-4471-923E-583AF9EFBD88}"/>
		<feature id="{32C09814-5C2C-4577-83C4-A58F9590B669}"/>
		<feature id="{F85DEA31-4135-4D13-8C50-8610AF816D9D}"/>
	</features>
	<variables>
		<var name="InstallPath" value="E:\Program Files\Utilmind Solutions\WinHTTP"/>
		<var name="ProgramGroup" value="UtilMind\WinHTTP"/>
		<var name="LangID" value="RUS"/>
	</variables>
</silentsettings>
